body {
    font-family: Arial, Helvetica, sans-serif;
}

#one {
    padding-top: 2vh;
    border: 1px solid blue;
}

header {
    display: flex;
    justify-content: space-between;
    border: 1px solid blue;
}

#logo {
    margin-left: 2vh;
    width: 46vh;
    height: 20vh;
    background-image: url(../../imgs/logo/50770379_295343884504392_1990464076064489472_n.jpg);
    background-size: cover;
}

nav > ul > li > a {
    text-decoration: none;
    width: 15%;
    font-weight: bold;
    font-size: 1.5em;
    color: white;
    text-align: center;
}

nav > ul > li > a:hover {
    text-decoration: none;
    width: 15%;
    font-weight: bold;
    font-size: 1.5em;
    color: rgb(1,160,226);
    text-align: center;
}

nav > ul > li > img {
    padding-left: 1vh;
}

nav > ul > li {
    padding: 2vh;
    width: 15%;
    height: 6vh;
}

nav > ul > li:hover {
    width: 15%;
    background-color: white;
    border-top: 1px solid rgb(1,160,226);
    border-bottom: 1px solid rgb(1,160,226);
    height: 7vh;
}

nav > ul {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.nav-img {
    width: 5vh;
    height: 5vh;
    margin-left: 1.5vh;
}

#wellcome > h6 {
    margin-right: 2vh;
    text-align: center;
}

#wellcome > p {
    font-size: 0.7em;
    margin-bottom: -0.3vh;
    margin-top: -0.2vh;
}

#exit {
    width: 15vh;
    height: 3vh;
    height: 1vh;
    padding-bottom: 5vh;
    box-sizing: border-box;
    margin-left: 1vh;
}

nav {
    height: 6vh;
    background-color: rgb(1,160,226);
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

#banner1 {
    width: 50%;
    height: 17vh;
    margin-top: 2vh;
    margin-left: 20vh;
}