body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#logo {
    margin-left: 2vh;
    width: 46vh;
    height: 20vh;
    background-image: url(../../imgs/logo/50770379_295343884504392_1990464076064489472_n.jpg);
    background-size: cover;
}

nav > ul > li {
    text-decoration: none;
    width: 15%;
    font-weight: bold;
    font-size: 1.3em;
    color: white;
    text-align: center;
    padding: 5px;
    height: 6vh;
    min-height: 6vh;
  }

nav > ul > li:hover {
    text-decoration: none;
    width: 15%;
    font-weight: bold;
    font-size: 1.5em;
    color: rgb(1,160,226);
    text-align: center;
    background-color: white;
    border: 1px solid rgb(1,160,226);
    /* border-bottom: 1px solid rgb(1,160,226); */
    height: 6.5vh;
    cursor: pointer;
}


nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

#welcome{
    margin-right: 20px;
}

#wellcome > h6 {
    margin-right: 2vh;
    text-align: center;
}

#wellcome > p {
    font-size: 0.7em;
    margin-bottom: -0.3vh;
    margin-top: -0.2vh;
}

#exit {
    display: none;
    width: 15vh;
    height: 1vh;
    padding-bottom: 5vh;
    box-sizing: border-box;
    margin-left: 1vh;
}

#enter {
    width: 15vh;
    height: 1vh;
    padding-bottom: 5vh;
    box-sizing: border-box;
    margin-left: 1vh;
}

nav {
    height: 6vh;
    background-color: rgb(1,160,226);
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

#banner1 {
    /* background-image: url('https://i.pinimg.com/originals/a9/64/db/a964db5475d0bb51c2fe6e7b1d12b3ad.jpg'); */
    background-size: cover;
    background-position: center;
    overflow: hidden;
    width: 75vh;
    height: 17vh;
    margin-top: 2vh;
    margin-left: -20vh;
}