body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#containers{
    display: inline-block;
    width: 100%;
    margin: 0 7.5%;
}

#ads{
    text-decoration: none;
    /* text-align: center; */
    font-size: 1em;
}

#containers article{
    float: left;
    width: 41%;
    margin: 20px 10px;
    border-radius: 2%;
    border: 1px solid #006699 ;
    padding: 20px;
    height: 40vh;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #f4f8ff;
    font-size: 1em;
    box-shadow: 0px 3px 3px grey;
}

#games{
    clear: both;
}

#television{
    width: 100%;
}

#adsVideo{
    clear: both;
    border: none;
    text-align: center;
    width: 900px;
    height: 650px;
    font-size: 1em;
    box-shadow: none;
}

#containers #adsVideo{
    height: 700px;
    width: 920px;
    background-color: white;
    border: none;
    box-shadow: none;
}

iframe{
    width: 99%;
    height: 74%;
    position: relative;
    top: -548px;
}

#poll {
    clear: both;
    padding-left: 25%;
    overflow: hidden;
    text-overflow: ellipsis;
}

#poll form {
    padding-left: 25%;
}

#poll article {
    width: 50%;
    height: 45vh;
    background-color: #f4f8ff;
    margin: 10px;
}

.titlee p {
    color: black;
    padding: 1vh;
}
#poll h6 {
    color: black;
    font-size: 1em;
    text-align: center;
    margin-top: 2vh;
}
.titlee {
    background-color: #9bbeff;
    border-bottom: 1px solid white;
    height: 5vh;
    margin-top: -2.5vh;
}

#poll label {
    color: black;
    font-size: 0.7em;
}

#vote-button {
    display: block;
    margin: 0 auto;
    margin-top: 3vh;
}

footer .button{
    margin-left: 19%;
}

footer p{
    text-align: center;
    font-size: 0.7em;
}